* {
	font-family: 'Roboto', sans-serif;
}

html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-image: url("img/D_comp_crop.jpg");
	background-position: center;
	background-size: 110vh auto;
	background-repeat: no-repeat;
	/* background-attachment: fixed; */
	height: 100%;
	margin: 0;
	padding: 0;
}

a {
	color: #002EFF;
	text-decoration: none;
	text-shadow: #002EFF -2px 0 5px;
}

#title_h1 {
	position: fixed;
	right: 5vw;
	text-align: right;
	margin-top: 0;
	font-size: 96pt;
	font-size: 8vw;
	font-weight: 900;
	color: white;
	text-shadow: #002EFF -2px 0 15px;
}

#landing {
	height: 100vh;
	position: relative;
	z-index: -2;
}

#navItems {
	position: fixed;
	z-index: 1;
	top: 20%;
	font-size: 32pt;
	font-weight: 900;
	margin-left: 5vw;
	/* margin-top: 0; */
	color: white;
	/* display: inline-block; */
}

nav * {
	color: white;
	/* text-shadow: #002EFF -2px 0 5px; */
	text-shadow: dimgray -2px 0 5px;
}

ul {
	list-style: none;
	padding-left: 0;
}

.hidden {
	font-size: 14pt;
	/* opacity: 0; */
	/* transition: opacity 0.5s; */
}

#linksDiv {
	/* position: absolute; */
	/* right: 5vw; */
	float: right;
	/* display: inline; */
	text-align: right;
	font-weight: 500;
	clear: right;
	margin-top: 10vh;
	/* background-color: pink; */
}

#aboutDiv {
	height: 100vh;
	position: relative;
}

#aboutText {
	width: 50vw;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #002EFF;
	text-align: center;
	line-height: 1.5;
}

#aboutText:hover {
	opacity: 1;
}

#videoContainer {
	position: relative;
	z-index: 2;
	background-color: white;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

iframe {
	width: 90vw;
	height: 50.625vw;
}
