* {
	font-family: 'Roboto', sans-serif;
	/* font-family: 'Helvetica Neue', sans-serif; */
	/* font-family: 'Arial', sans-serif; */
	/* font-family: 'Average Sans', sans-serif; */
	/* font-family: sans-serif; */
}

html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-image: url("img/D_comp_crop.jpg");
	background-position: center;
	background-size: 110vh auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100%;
	margin: 0;
	padding: 0;
}

a {
	color: #002EFF;
	text-decoration: none;
	text-shadow: #002EFF -2px 0 5px;
}

div {
	/* height: 100%; */
	padding: 0;
	margin: 0;
}

#content {
	height: 100%;
	position: relative;
	top: 180px;
	right: 5vw;
	/* text-align: right; */
	/* margin: 0; */
}

#title_h1 {
	position: fixed;
	right: 5vw;
	text-align: right;
	margin-top: 0;
	font-size: 96pt;
	font-size: 8vw;
	font-weight: 900;
	color: white;
	text-shadow: #002EFF -2px 0 15px;
}

#navItems {
	font-size: 32pt;
	font-weight: 900;
	margin-left: 10vw;
	margin-top: 0;
	color: white;
	/* display: inline-block; */
	float: left;
	/* background-color: pink; */
}

nav * {
	color: white;
	/* text-shadow: #002EFF -2px 0 5px; */
	text-shadow: dimgray -2px 0 5px;
}

ul {
	list-style: none;
	padding-left: 0;
}

.hidden {
	font-size: 14pt;
	/* opacity: 0; */
	/* transition: opacity 0.5s; */
}

#aboutDiv {
	/* position: absolute; */
	/* right: 5vw; */
	width: 450px;
	/* display: inline; */
	float: right;
	/* background-color: pink; */
	margin-top: 5vh;
	/* clear: both; */
	/* width: 30vw; */
	/* min-width: 250px; */
	/* float: right; */
	/* transition: opacity 0.5s; */
}

#aboutText {
	color: #002EFF;
	/* background-color: rgba(255, 255, 255, 0.8); */
	border-radius: 0px;
	/* padding-left: 50px; */
	/* text-align: right; */
	line-height: 1.5;
	/* transition: opacity 0.5s; */
}

#aboutText:hover {
	opacity: 1;
}

#linksDiv {
	/* position: absolute; */
	/* right: 5vw; */
	float: right;
	/* display: inline; */
	text-align: right;
	font-weight: 500;
	clear: right;
	margin-top: 10vh;
	/* background-color: pink; */
}
#videoContainer {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

iframe {
	width: 90vw;
	height: 50.625vw;
}
